# Dependency directories
node_modules

# JetBrains
.idea

############
# iOS
############

# Build generated
dist

# Intellij
*.iml

# OSX
#
.DS_Store

# Android/IJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

.jest_cache
.eslintcache
**/.docusaurus
coverage/*
packages/react-obsidian/coverage/
.yarn/cache
.yarn/install-state.gz
documentation/.yarn/cache
documentation/.yarn/install-state.gz
.vscode/yw_helper_history.txt
packages/swc-plugin-obsidian/target
*.map
*.tsbuildinfo
packages/vscode-language-server-obsidian/coverage/
*.vsix
packages/vscode-language-server-obsidian/.yalc/ts-morph-extensions/yalc.sig
packages/vscode-language-server-obsidian/server/.yalc/
packages/vscode-language-server-obsidian/.yalc/
packages/vscode-language-server-obsidian/server/yalc.lock
packages/vscode-language-server-obsidian/yalc.lock
.githooks/config
.cursor/snippets/
