[package]
name = "swc_plugin_obsidian"
version = "2.30.0-alpha.2"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

# Check https://plugins.swc.rs for swc version compatibility
[dependencies]
swc_core = { version = "15.0.0", features = [
    "ecma_plugin_transform",
    "ecma_utils",
    "ecma_visit",
    "ecma_ast",
    "common"
]}

[dev-dependencies]
swc_core = { version = "15.0.0", features = [
    "ecma_plugin_transform",
    "ecma_utils",
    "ecma_visit",
    "common",
    "testing",
    "ecma_parser",
]}

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
strip = true
panic = "abort"