/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #B94BEE;
  --ifm-color-primary-dark: #B648EA;
  --ifm-color-primary-darker: #A72FE0;
  --ifm-color-primary-darkest: #9806DD;
  --ifm-color-primary-light: #CF6AFF;
  --ifm-color-primary-lighter: #D57DFF;
  --ifm-color-primary-lightest: #DC93FF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #C751FF;
  --ifm-color-primary-dark: #B648EA;
  --ifm-color-primary-darker: #A72FE0;
  --ifm-color-primary-darkest: #9806DD;
  --ifm-color-primary-light: #CF6AFF;
  --ifm-color-primary-lighter: #D57DFF;
  --ifm-color-primary-lightest: #DC93FF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.code-block-removed-line::before {
  content: '-';
  display: inline-block;
  width: 0px;
  position: relative;
  left: -0.7em;
  color: red;
}

.code-block-removed-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  user-select: none;
}

.code-block-added-line::before {
  content: '+';
  display: inline-block;
  width: 0px;
  position: relative;
  left: -0.7em;
  color: rgb(2, 164, 113);
}

.code-block-added-line {
  background-color: #00ff9540;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .code-block-added-line {
  background-color: #00ff9510;
}
