name: CI

on:
  push:
    branches: [ master, alpha, beta ]
  pull_request:
    branches: [ master, alpha, beta ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.13.1]


    env:
      NPM_EMAIL: ''
      NPM_TOKEN: ''

    steps:
      - uses: actions/checkout@v4
      - name: Enable corepack
        run: corepack enable
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: yarn --frozen-lockfile
      - name: Build
        run: |
          yarn workspace react-obsidian run build
          yarn workspace ts-morph-extensions run build
          yarn workspace eslint-plugin-obsidian run build
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
