name: CI
on:
  push:
    branches:
      - master

jobs:
  update-code-coverage-badge:
    runs-on: self-hosted
    env:
      NPQ_PKG_MGR: yarn
    steps:
      - uses: actions/checkout@v3
      - name: Enable corepack
        run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install npq
        run: npm install -g npq
      - name: Install
        run: npq install
      - name: Build
        run: yarn workspace react-obsidian run build
      - name: Test and collect coverage
        run: yarn workspace react-obsidian run test-coverage
      - name: Create badge and publish to gh-pages
        uses: nolleh/jest-badge-deploy-action@latest
        with:
          coverage-summary-path: packages/react-obsidian/coverage/coverage-summary.json