name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches: [ master ]

jobs:
  update-code-coverage-badge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Enable corepack
        run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install
        run: yarn --frozen-lockfile
      - name: Build
        - run: yarn workspace react-obsidian run build
      - name: Test and collect coverage
        run: yarn workspace react-obsidian run test-coverage
      - name: Create badge and publish to gh-pages
        uses: nolleh/jest-badge-deploy-action@latest