name: Test deployment

on:
  pull_request:
    branches:
      - master
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    env:
      NPQ_PKG_MGR: yarn
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - name: Enable corepack
        run: corepack enable
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install npq
        run: npm install -g npq
      - name: Install dependencies
        run: npq install
      - name: Test build documentation
        run: yarn workspace documentation build
