name: Test deployment

on:
  pull_request:
    branches:
      - master
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Enable corepack
        run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: yarn
          cache-dependency-path: documentation/yarn.lock

      - name: Install dependencies
        working-directory: ./documentation
        run: yarn install --frozen-lockfile
      - name: Test build documentation
        working-directory: ./documentation
        run: yarn build
